# isto é um comentario do htaccess
#este arquivo é lido pelo apache antes de qualquer requisição
#e nele é possivel fazer configurações do apache baseado em regras

#Rewrite é um método do Apache para reescrita de URLs
#Este código Rewrite reescreve a URL inserindo manualmente
#O index.php na URL digitada pra contabilizar com o CodeIgniter
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]
